@charset "utf-8";

// Set your brand colors
$blue: #3759cf;
$blue-light: #38b6ff;
$red: #af0303;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $primary: $blue,
  $link: $blue,
  $danger: $red,
  $info: $blue-light,
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");