---
layout: base.njk
---

<div class="columns is-multiline">
  <div class="column is-3-desktop is-12-tablet">
    <aside class="menu box">
      {# The sidebarKey is now automatically provided by the Data Cascade or Front Matter #}
      {% set key = sidebarKey or 'default' %}
      {% set sidebar = sidebars[key] if sidebars[key] else sidebars['default'] %}

      {% if sidebar.title %}
        <p
          class="menu-label title is-6 mb-4 has-text-primary has-text-weight-bold"
        >
          {{ sidebar.title }}
        </p>
      {% endif %}

      {% for section in sidebar.sections %}
        {% if section.label %}
          <p class="menu-label">{{ section.label }}</p>
        {% endif %}
        <ul class="menu-list">
          {% for item in section.items %}
            {# Normalize URLs for comparison by removing trailing slashes #}
            {% set isCurrentPage = (item.url | replace(r/\/$/, "")) == (page.url | replace(r/\/$/, "")) %}
            <li>
              <a
                href="{{ item.url }}"
                {% if isCurrentPage %}class="is-active"{% endif %}
                {% if item.external %}target="_blank" rel="noopener"{% endif %}
              >
                {{ item.text }}
                {% if item.external %}
                  <span class="icon is-small ml-1">
                    <i class="fas fa-external-link-alt"></i>
                  </span>
                {% endif %}
              </a>

              {# Show anchors/headings if this is the active page #}
              {% if isCurrentPage %}
                {% set anchors = content | extractHeadings %}
                {% if anchors.length > 0 %}
                  <ul class="is-size-7 ml-3 mt-1 mb-2">
                    {% for anchor in anchors %}
                      <li class="py-1">
                        <a href="#{{ anchor.id }}" class="has-text-grey"
                          >{{ anchor.text }}</a
                        >
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </aside>
  </div>
  <div class="column is-9-desktop is-12-tablet">
    <div class="content box p-5">{{ content | safe }}</div>
  </div>
</div>
