---
permalink: /intranet/js/hub-config.js
layout: false
eleventyExcludeFromCollections: true
templateEngineOverride: false
---
/* Adresse des Google-Scripts: nur hier eintragen (gilt fuer Hub, Verwaltung und Weihnachtsmarkt). */
window.HUB_API = 'https://script.google.com/macros/s/AKfycbxdqihWPNB1Zlqohffsm74i26MAUC9VPcyrg-_kb6f8BNeh0WcOEmw0koqE2WTXcP-_/exec';
