---
permalink: /intranet/js/hub-config.js
layout: false
eleventyExcludeFromCollections: true
templateEngineOverride: false
---
/* Adresse des Google-Scripts: nur hier eintragen (gilt fuer Hub, Verwaltung und Weihnachtsmarkt). */
window.HUB_API = 'https://script.google.com/macros/s/AKfycbxNy3BCKZwpXifKDuve9hp5CdLGLOMPsK2qNZ82dJsKvbOjgUxmRR9yXunyByADj-Mv/exec';
