---
layout: sidebar.njk
heading: Verein
sidebarKey: verein
---

<section class="section">
  <h2 class="title is-2" id="trainer">Unser Vorstand</h2>
  <div class="grid is-col-min-15">
    {% for person in verein.vorstand %}
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img
              src="{{ person.bild | default('/images/personen/placeholder.png') }}"
              alt="{{ person.name }}"
              class="portrait"
            />
            <!--
          <img
            src="{{ person.bildAction | default('/images/personen/placeholder-action.png') }}"
            alt="{{ person.name }} in Action"
            class="action"
          />
        -->
          </figure>
        </div>
        <div class="card-content">
          <div class="media-content">
            <p class="title is-4">{{ person.name }}</p>
            <p class="subtitle is-6">
              {{ person.funktion }} seit {{ person.seitWann }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

<section class="section">
  <h2 class="title is-2" id="trainer">Unsere Jugendvertretung</h2>
  <div class="grid is-col-min-5">
    {% for person in verein.jugendvertretung %}
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img
              src="{{ person.bild | default('/images/personen/placeholder.png') }}"
              alt="{{ person.name }}"
              class="portrait"
            />
            <!--
          <img
            src="{{ person.bildAction | default('/images/personen/placeholder-action.png') }}"
            alt="{{ person.name }} in Action"
            class="action"
          />
        -->
          </figure>
        </div>
        <div class="card-content">
          <div class="media-content">
            <p class="title is-4">{{ person.name }}</p>
            <p class="subtitle is-6">
              {{ person.funktion }} seit {{ person.seitWann }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
