---
layout: base.njk
heading: Abschwimmen 2026
heroSubtitle: Gemeinsam die Freibadsaison ausklingen lassen
heroImage: /images/veranstaltungen/abschwimmen.jpg
permalink: /abschwimmen/index.html
---

{% set eventData = event_abschwimmen %}
{% include "event.njk" %}
