---
layout: base.njk
heading: Berlintreffen 2026
heroSubtitle: Freundschaft, Wettkampf und ein Wochenende im Freibad
heroImage: /images/news/startbloecke.jpeg
permalink: /berlintreffen/index.html
---

{% set eventData = event_berlintreffen %}
{% include "event.njk" %}
