---
layout: sidebar.njk
heading: Downloads
sidebarKey: verein
---

<h1>Downloads & Dokumente</h1>
<p>
  Hier findest du alle wichtigen Formulare und Dokumente der SG Barnstorf zum
  Herunterladen.
</p>

<div class="row">
  {% for item in downloads %}
    <div class="col-4 col-12-medium">
      <section class="box">
        <header>
          <h3>{{ item.title }}</h3>
        </header>
        <p>{{ item.description }}</p>
        <footer>
          <a
            href="/downloads/{{ item.filename }}"
            class="button alt icon solid fa-download"
            target="_blank"
          >
            Download (PDF)
          </a>
        </footer>
      </section>
    </div>
  {% endfor %}
</div>
