---
layout: base.njk
heading: 8.Hunte-Schwimmmeeting
---

<div class="container">
  <h1>{{ heading }}</h1>

  <div class="row">
    <p>
      Liebe Schwimmfreunde,<br />
      wir freuen uns, Euch herzlich zu unserem Schwimmwettkampf einzuladen, der
      am <strong>30.Mai 2026</strong> im <strong>Freibad Müntepark</strong> in
      Diepholz stattfinden wird. Taucht mit uns ein in einen spannenden
      Wettkampf voller Herausforderungen, Teamgeist und Spaß im Wasser! <br />
      Wir freuen uns auf Eure zahlreiche Teilnahme und einen spannenden
      Wettkampf!
    </p>
      <div class="col-12">
        <a
          href="/downloads/hsm/2026-05-30-Diepholz-Au.pdf"
          class="button alt icon solid fa-download"
          target="_blank"
          style="margin-bottom: 1em;"
        >
          Ausschreibung (PDF)
        </a>
        <a
          href="/downloads/hsm/2026-05-30-Diepholz-Wk.dsv7"
          class="button alt icon solid fa-download"
          target="_blank"
        >
          DSV-Datei (DSV7)
        </a><br />
        <a
        href="https://live.sgbarnstorf.de/archiv/26/05-hsm/"
        target="_blank"
        class="button"
        style="margin-bottom: 2em;"
        >Link zum Meldeergebnis und zu den Ergebnissen</a
        >"
      </div>
    
  </div>
  <div class="row">
    <h2>Highlights</h2>
    <p>
      Für die Verbesserung eines <strong>Veranstaltungsrekordes</strong> auf
      einer Einzelstrecke wird eine Prämie in Höhe von 20 € ausgegeben (bei
      mehreren Verbesserungen innerhalb eines Wettkampfes geht die Prämie an die
      schnellste Verbesserung).
    </p>
    <p>
      Für die <strong>Mystery-Lagen</strong> gilt WB-SW §130 mit Ausnahme der
      dort festgelegten Reihenfolge der Schwimmstile. Die Schwimmer*innen können
      ihre Startkarten mit der zugelosten Reihenfolge zehn Minuten vor Beginn
      des 2. Abschnitts am Sprechertisch abholen. Während des Wettkampfes ist es
      Aufgabe des Zeitgerichtes, auf die Einhaltung der zugewiesenen Reihenfolge
      zu achten.
    </p>
    <p>
      Das <strong>Team-Race</strong> ist ein Teamwettkampf mit vier
      Schwimmer*innen. In jeder Mannschaft muss mehr als ein Geschlecht
      vertreten sein. Auf das Startsignal hin startet die erste Person, die
      anderen Schwimmerinnen starten daraufhin selbstständig so, dass das ganze
      Team hintereinander schwimmt. Jeweils nach 50m schlägt die erste Person an
      und verlässt das Becken, sodass nur die letzte Person 200m schwimmt.
      Während des TeamRace ist es innerhalb eines Teams verboten zu überholen,
      Schwimmer*innen dürfen erst nach ihrem finalen Anschlag überholt werden,
      solange müssen die Hände der hinteren Person hinter den Füßen der vorderen
      Person bleiben. Die Ergebnisse dieser Wettkämpfe gehen nicht in die
      Bestenliste des DSV ein. Teams können sich auch bis vor Beginn des
      Wettkampfes 32 beim Veranstalter anmelden. Ein Video und weitere Hinweise
      findet Ihr hier:
      <a
        href="https://swimsportnews.de/9268-video-so-sieht-die-team-verfolgung-im-schwimmen-aus"
        target="_blank"
        >swimsportnews.de / Video: So sieht die Team-Verfolgung im Schwimmen
        aus</a
      >
    </p>
    <p>
      <strong>T-Shirt-Staffel</strong>: Jeder Verein darf zwei Personen stellen,
      die beim T-Shirt-Wechsel helfen dürfen. Schwimmer*innen der Mannschaft
      sind ebenfalls berechtigt zu helfen. Der Veranstalter stellt jedem Team
      ein T-Shirt zur Verfügung. Erst nach dem Anschlag darf das T-Shirt
      übergeben werden. Es gilt als übergeben, wenn Kopf und Arme desder
      Folgeschwirmer*in durch die dafür vorgesehenen Öffnungen des T-Shirts
      gestreift wurden. In der Staffelaufstellung muss mehr als ein Geschlecht
      vertreten sein.
    </p>
  </div>

  <section class="hsm-impressions">
    <h2>Impressionen</h2>
    <div class="carousel-wrapper">
      <div class="image-carousel">
        {% for image in hsm_images %}
          <div class="carousel-item">
            <img src="{{ image.src }}" alt="{{ image.alt }}" />
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
