---
layout: base.njk
---

<div class="content">
  <h1 class="title is-1">Impressum</h1>
  <p>Dieses Impressum gilt für folgende Dienste / Webseiten:</p>
  <ul>
    <li>
      <a href="https://sgbarnstorf.de" target="_blank">sgbarnstorf.de</a>
    </li>
    <li>
      <a href="https://live.sgbarnstorf.de" target="_blank"
        >live.sgbarnstorf.de
      </a>
    </li>
    <li>
      <a href="https://sgbarnstorf.webclub.app" target="_blank"
        >sgbarnstorf.webclub.app</a
      >
    </li>
    <li>
      Unser Instagram-Profil (<a
        href="https://www.instagram.com/sgbarnstorf/"
        target="_blank"
        >instagram.com/sgbarnstorf/</a
      >)
    </li>
    <li>
      Unser Facebook-Profil (<a
        href="https://www.facebook.com/sgbarnstorf"
        target="_blank"
        >facebook.com/sgbarnstorf</a
      >)
    </li>
  </ul>
  <hr />

  <h3>Angaben gemäß § 5 TMG</h3>
  <p>
    Schwimmgemeinschaft Barnstorf e. V. <br />
    Herrmannstrasse 5<br />49406 Barnstorf
  </p>
  <p>Vereinsregister: VR 100025 - Registergericht: Amtsgericht Walsrode</p>

  <h3>Vertreten durch:</h3>
  <ul>
    <li>Peter Brauneck</li>
    <li>Frieda Hildebrand</li>
  </ul>

  <h3>Kontakt</h3>
  <ul>
    <li>
      Telefon: Die SG Barnstorf verfügt über keine aktuelle Telefonnummer.
    </li>
    <li>E-Mail: info@sgbarnstorf.de</li>
  </ul>

  <h3>Redaktionell verantwortlich</h3>
  <ul>
    <li>Frieda Hildebrand</li>
    <li>Max Mohrland</li>
  </ul>

  <h3>EU-Streitschlichtung</h3>
  <p>
    Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung
    bereit:&nbsp;<a href="https://ec.europa.eu/consumers/odr/" target="_blank"
      >ec.europa.eu/consumers/odr/</a
    >.
  </p>
  <p>Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

  <h3>Verbraucherstreitbeilegung/</h3>
  <h4>Universalschlichtungsstelle</h4>
  <p>
    Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor
    einer Verbraucherschlichtungsstelle teilzunehmen.
  </p>

  <h2>Datenschutz</h2>
  <p>
    Auf dieser Seite finden sie die "Datenschutzerklärung für Websitenutzer" und
    die "Datenschutzerklärung für Mitglieder der Schwimmgemeinschaft Barnstorf
    e. V.".
  </p>
  <ul>
    <li>
      <a href="#website-nutzer">Datenschutzerklärung für Websitenutzer</a>
    </li>
    <li>
      <a href="#mitglieder-verein"
        >Datenschutzerklärung für Mitglieder der Schwimmgemeinschaft Barnstorf
        e. V.</a
      >
    </li>
  </ul>

  <hr />

  <h3 id="website-nutzer">Datenschutzerklärung für Websitenutzer</h3>

  <p>Informationen nach Artikel 13 und 14 der Datenschutz-Grundverordnung</p>

  <h4>1. Datenschutz auf einen Blick</h4>

  <h5>Hinweise</h5>
  <p>
    Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit
    Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen.
    Personenbezogene Daten sind alle Daten, mit denen Sie persönlich
    identifiziert werden können. Ausführliche Informationen zum Thema
    Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten
    Datenschutzerklärung.
  </p>

  <h5>
    Datenerfassung auf dieser Website<br />
    Wer ist verantwortlich für die Datenerfassung auf dieser Website?
  </h5>

  <p>
    Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber.
    Dessen Kontaktdaten können Sie dem Abschnitt „Hinweis zur Verantwortlichen
    Stelle“ in dieser Datenschutzerklärung entnehmen.
  </p>

  <h5>Wie erfassen wir Ihre Daten?</h5>

  <p>
    Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen.
    Hierbei kann es sich z. B. um Daten handeln, die Sie in ein Kontaktformular
    eingeben.
  </p>

  <p>
    Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der
    Website durch unsere IT- Systeme erfasst. Das sind vor allem technische
    Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des
    Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie
    diese Website betreten.
  </p>

  <h5>Wofür nutzen wir Ihre Daten?</h5>

  <p>
    Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der
    Website zu gewährleisten. Andere Daten können zur Analyse Ihres
    Nutzerverhaltens verwendet werden.
  </p>

  <h5>Welche Rechte haben Sie bezüglich Ihrer Daten?</h5>

  <p>
    Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft,
    Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten.
    Sie haben außerdem ein Recht, die Berichtigung oder Löschung dieser Daten zu
    verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt haben,
    können Sie diese Einwilligung jederzeit für die Zukunft widerrufen. Außerdem
    haben Sie das Recht, unter bestimmten Umständen die Einschränkung der
    Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Des Weiteren steht
    Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
  </p>

  <p>
    Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich
    jederzeit an uns wenden.
  </p>

  <h5>Analyse-Tools und Tools von Drittanbietern</h5>

  <p>
    Beim Besuch dieser Website kann Ihr Surf-Verhalten statistisch ausgewertet
    werden. Das geschieht vor allem mit sogenannten Analyseprogrammen.
  </p>

  <p>
    Detaillierte Informationen zu diesen Analyseprogrammen finden Sie in der
    folgenden Datenschutzerklärung.
  </p>

  <h3>2. Hosting</h3>

  <p>Wir hosten die Inhalte unserer Website bei folgendem Anbieter:</p>

  <h5>IONOS</h5>

  <p>
    Anbieter ist die IONOS SE, Elgendorfer Str. 57, 56410 Montabaur (nachfolgend
    IONOS). Wenn Sie unsere Website besuchen, erfasst IONOS verschiedene
    Logfiles inklusive Ihrer IP-Adressen. Details entnehmen Sie der
    Datenschutzerklärung von IONOS:<br /><a
      href="https://www.ionos.de/terms-gtc/terms-privacy"
      target="_blank"
      >https://www.ionos.de/terms-gtc/terms-privacy</a
    >.
  </p>

  <p>
    Die Verwendung von IONOS erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f
    DSGVO. Wir haben ein berechtigtes Interesse an einer möglichst zuverlässigen
    Darstellung unserer Website. Sofern eine entsprechende Einwilligung
    abgefragt wurde, erfolgt die Verarbeitung ausschließlich auf Grundlage von
    Art. 6 Abs. 1 lit. a DSGVO und § 25 Abs. 1 TTDSG, soweit die Einwilligung
    die Speicherung von Cookies oder den Zugriff auf Informationen im Endgerät
    des Nutzers (z. B. Device-Fingerprinting) im Sinne des TTDSG umfasst. Die
    Einwilligung ist jederzeit widerrufbar.
  </p>

  <h3>3. Allgemeine Hinweise und Pflichtinformationen&nbsp; Datenschutz</h3>

  <p>
    Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr
    ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und
    entsprechend den gesetzlichen Datenschutzvorschriften sowie dieser
    Datenschutzerklärung.
  </p>

  <p>
    Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten
    erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich
    identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert,
    welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie
    und zu welchem Zweck das geschieht.
  </p>

  <p>
    Wir weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei der
    Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser
    Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
  </p>

  <h5>Hinweis zur verantwortlichen Stelle</h5>
  <p>
    Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:
  </p>
  <p>
    Schwimmgemeinschaft Barnstorf e. V. <br />
    Herrmannstrasse 5<br />49406 Barnstorf
  </p>
  <p>Vertreten durch:</p>
  <ul>
    <li>Peter Brauneck</li>
    <li>Frieda Hildebrand</li>
  </ul>
  <p>Telefon: Die SG Barnstorf verfügt über keine aktuelle Telefonnummer.</p>
  <p>E-Mail: <a href="mailto:info@sgbarnstorf.de">info@sgbarnstorf.de</a></p>

  <p>
    Verantwortliche Stelle ist die natürliche oder juristische Person, die
    allein oder gemeinsam mit anderen über die Zwecke und Mittel der
    Verarbeitung von personenbezogenen Daten (z. B. Namen, E-Mail-Adressen o.
    Ä.) entscheidet.
  </p>

  <h5>Speicherdauer</h5>

  <p>
    Soweit innerhalb dieser Datenschutzerklärung keine speziellere Speicherdauer
    genannt wurde, verbleiben Ihre personenbezogenen Daten bei uns, bis der
    Zweck für die Datenverarbeitung entfällt. Wenn Sie ein berechtigtes
    Löschersuchen geltend machen oder eine Einwilligung zur Datenverarbeitung
    widerrufen, werden Ihre Daten gelöscht, sofern wir keine anderen rechtlich
    zulässigen Gründe für die Speicherung Ihrer personenbezogenen Daten haben
    (z. B. steuer- oder handelsrechtliche Aufbewahrungsfristen); im
    letztgenannten Fall erfolgt die Löschung nach Fortfall dieser Gründe.
  </p>

  <h5>
    Allgemeine Hinweise zu den Rechtsgrundlagen der Datenverarbeitung auf dieser
    Website
  </h5>

  <p>
    Sofern Sie in die Datenverarbeitung eingewilligt haben, verarbeiten wir Ihre
    personenbezogenen Daten auf Grundlage von Art. 6 Abs. 1 lit. a DSGVO bzw.
    Art. 9 Abs. 2 lit. a DSGVO, sofern besondere Datenkategorien nach Art. 9
    Abs. 1 DSGVO verarbeitet werden. Im Falle einer ausdrücklichen Einwilligung
    in die Übertragung personenbezogener Daten in Drittstaaten erfolgt die
    Datenverarbeitung außerdem auf Grundlage von Art. 49 Abs. 1 lit. a DSGVO.
    Sofern Sie in die Speicherung von Cookies oder in den Zugriff auf
    Informationen in Ihr Endgerät (z. B. via Device-Fingerprinting) eingewilligt
    haben, erfolgt die Datenverarbeitung zusätzlich auf Grundlage von § 25 Abs.
    1 TTDSG. Die Einwilligung ist jederzeit widerrufbar. Sind Ihre Daten zur
    Vertragserfüllung oder zur Durchführung vorvertraglicher Maßnahmen
    erforderlich, verarbeiten wir Ihre Daten auf Grundlage des Art. 6 Abs. 1
    lit. b DSGVO. Des Weiteren verarbeiten wir Ihre Daten, sofern diese zur
    Erfüllung einer rechtlichen Verpflichtung erforderlich sind auf Grundlage
    von Art. 6 Abs. 1 lit. c DSGVO. Die Datenverarbeitung kann ferner auf
    Grundlage unseres berechtigten Interesses nach Art. 6 Abs. 1 lit. f DSGVO
    erfolgen. Über die jeweils im Einzelfall einschlägigen Rechtsgrundlagen wird
    in den folgenden Absätzen dieser Datenschutzerklärung informiert.
  </p>

  <h5>Empfänger von personenbezogenen Daten</h5>

  <p>
    Im Rahmen unserer Geschäftstätigkeit arbeiten wir mit verschiedenen externen
    Stellen zusammen. Dabei ist teilweise auch eine Übermittlung von
    personenbezogenen Daten an diese externen Stellen erforderlich. Wir geben
    personenbezogene Daten nur dann an externe Stellen weiter, wenn dies im
    Rahmen einer Vertragserfüllung erforderlich ist, wenn wir gesetzlich hierzu
    verpflichtet sind (z. B. Weitergabe von Daten an Steuerbehörden), wenn wir
    ein berechtigtes Interesse nach Art. 6 Abs. 1 lit. f DSGVO an der Weitergabe
    haben oder wenn eine sonstige Rechtsgrundlage die Datenweitergabe erlaubt.
    Beim Einsatz von Auftragsverarbeitern geben wir personenbezogene Daten
    unserer Kunden nur auf Grundlage eines gültigen Vertrags über
    Auftragsverarbeitung weiter. Im Falle einer gemeinsamen Verarbeitung wird
    ein Vertrag über gemeinsame Verarbeitung geschlossen.
  </p>

  <h5>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h5>

  <p>
    Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen
    Einwilligung möglich. Sie können eine bereits erteilte Einwilligung
    jederzeit widerrufen. Die Rechtmäßigkeit der bis zum Widerruf erfolgten
    Datenverarbeitung bleibt vom Widerruf unberührt.
  </p>

  <h5>
    Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen
    Direktwerbung (Art. 21 DSGVO)
  </h5>

  <p>
    WENN DIE DATENVERARBEITUNG AUF GRUNDLAGE VON ART. 6 ABS. 1 LIT. E ODER F
    DSGVO ERFOLGT, HABEN SIE JEDERZEIT DAS RECHT, AUS GRÜNDEN, DIE SICH AUS
    IHRER BESONDEREN SITUATION ERGEBEN, GEGEN DIE VERARBEITUNG IHRER
    PERSONENBEZOGENEN DATEN WIDERSPRUCH EINZULEGEN; DIES GILT AUCH FÜR EIN AUF
    DIESE BESTIMMUNGEN GESTÜTZTES PROFILING. DIE JEWEILIGE RECHTSGRUNDLAGE, AUF
    DENEN EINE VERARBEITUNG BERUHT, ENTNEHMEN SIE DIESER DATENSCHUTZERKLÄRUNG.
    WENN SIE WIDERSPRUCH EINLEGEN, WERDEN WIR IHRE BETROFFENEN PERSONENBEZOGENEN
    DATEN NICHT MEHR VERARBEITEN, ES SEI DENN, WIR KÖNNEN ZWINGENDE
    SCHUTZWÜRDIGE GRÜNDE FÜR DIE VERARBEITUNG NACHWEISEN, DIE IHRE INTERESSEN,
    RECHTE UND FREIHEITEN ÜBERWIEGEN ODER DIE VERARBEITUNG DIENT DER
    GELTENDMACHUNG, AUSÜBUNG ODER VERTEIDIGUNG VON RECHTSANSPRÜCHEN (WIDERSPRUCH
    NACH ART. 21 ABS. 1 DSGVO).
  </p>

  <p>
    WERDEN IHRE PERSONENBEZOGENEN DATEN VERARBEITET, UM DIREKTWERBUNG ZU
    BETREIBEN, SO HABEN SIE DAS RECHT, JEDERZEIT WIDERSPRUCH GEGEN DIE
    VERARBEITUNG SIE BETREFFENDER PERSONENBEZOGENER DATEN ZUM ZWECKE DERARTIGER
    WERBUNG EINZULEGEN; DIES GILT AUCH FÜR DAS PROFILING, SOWEIT ES MIT SOLCHER
    DIREKTWERBUNG IN VERBINDUNG STEHT. WENN SIE WIDERSPRECHEN, WERDEN IHRE
    PERSONENBEZOGENEN DATEN ANSCHLIESSEND NICHT MEHR ZUM ZWECKE DER
    DIREKTWERBUNG VERWENDET (WIDERSPRUCH NACH ART. 21 ABS. 2 DSGVO).
  </p>

  <h5>Beschwerderecht bei der zuständigen Aufsichtsbehörde</h5>

  <p>
    Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein
    Beschwerderecht bei einer Aufsichtsbehörde, insbesondere in dem
    Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres Arbeitsplatzes oder des
    Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht unbeschadet
    anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe.
  </p>

  <h5>Recht auf Datenübertragbarkeit</h5>

  <p>
    Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in
    Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an einen
    Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu lassen.
    Sofern Sie die direkte Übertragung der Daten an einen anderen
    Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar
    ist.
  </p>

  <h5>Auskunft, Berichtigung und Löschung</h5>

  <p>
    Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das
    Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen
    Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und
    ggf. ein Recht auf Berichtigung oder Löschung dieser Daten. Hierzu sowie zu
    weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit
    an uns wenden.
  </p>

  <h5>Recht auf Einschränkung der Verarbeitung</h5>

  <p>
    Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer
    personenbezogenen Daten zu verlangen. Hierzu können Sie sich jederzeit an
    uns wenden. Das Recht auf Einschränkung der Verarbeitung besteht in
    folgenden Fällen:
  </p>

  <p>
    Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten
    bestreiten, benötigen wir in der Regel Zeit, um dies zu überprüfen. Für die
    Dauer der Prüfung haben Sie das Recht, die Einschränkung der Verarbeitung
    Ihrer personenbezogenen Daten zu verlangen.<br />Wenn die Verarbeitung Ihrer
    personenbezogenen Daten unrechtmäßig geschah/geschieht, können Sie statt der
    Löschung die Einschränkung der Datenverarbeitung verlangen.<br />Wenn wir
    Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur
    Ausübung, Verteidigung oder Geltendmachung von Rechtsansprüchen benötigen,
    haben Sie das Recht, statt der Löschung die Einschränkung der Verarbeitung
    Ihrer personenbezogenen Daten zu verlangen.<br />Wenn Sie einen Widerspruch
    nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung zwischen Ihren
    und unseren Interessen vorgenommen werden. Solange noch nicht feststeht,
    wessen Interessen überwiegen, haben Sie das Recht, die Einschränkung der
    Verarbeitung Ihrer personenbezogenen Daten zu verlangen.
  </p>

  <p>
    Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben,
    dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit Ihrer
    Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von
    Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder
    juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses
    der Europäischen Union oder eines Mitgliedstaats verarbeitet werden.
  </p>

  <h5>SSL- bzw. TLS-Verschlüsselung</h5>

  <p>
    Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung
    vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie
    an uns als Seitenbetreiber senden, eine SSL- bzw. TLS- Verschlüsselung. Eine
    verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des
    Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in
    Ihrer Browserzeile.
  </p>

  <p>
    Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die
    Sie an uns übermitteln, nicht von Dritten mitgelesen werden.
  </p>

  <h5>4. Datenerfassung auf dieser Website&nbsp;Cookies</h5>

  <p>
    Unsere Internetseiten verwenden so genannte „Cookies“. Cookies sind kleine
    Datenpakete und richten auf Ihrem Endgerät keinen Schaden an. Sie werden
    entweder vorübergehend für die Dauer einer Sitzung (Session-Cookies) oder
    dauerhaft (permanente Cookies) auf Ihrem Endgerät gespeichert.
    Session-Cookies werden nach Ende Ihres Besuchs automatisch gelöscht.
    Permanente Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese
    selbst löschen oder eine automatische Löschung durch Ihren Webbrowser
    erfolgt.
  </p>

  <p>
    Cookies können von uns (First-Party-Cookies) oder von Drittunternehmen
    stammen (sog. Third-Party- Cookies). Third-Party-Cookies ermöglichen die
    Einbindung bestimmter Dienstleistungen von Drittunternehmen innerhalb von
    Webseiten (z. B. Cookies zur Abwicklung von Zahlungsdienstleistungen).
  </p>

  <p>
    Cookies haben verschiedene Funktionen. Zahlreiche Cookies sind technisch
    notwendig, da bestimmte Webseitenfunktionen ohne diese nicht funktionieren
    würden (z. B. die Warenkorbfunktion oder die Anzeige von Videos). Andere
    Cookies können zur Auswertung des Nutzerverhaltens oder zu Werbezwecken
    verwendet werden.
  </p>

  <p>
    Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs, zur
    Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (z. B. für die
    Warenkorbfunktion) oder zur Optimierung der Website (z. B. Cookies zur
    Messung des Webpublikums) erforderlich sind (notwendige Cookies), werden auf
    Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert, sofern keine andere
    Rechtsgrundlage angegeben wird. Der Websitebetreiber hat ein berechtigtes
    Interesse an der Speicherung von notwendigen Cookies zur technisch
    fehlerfreien und optimierten Bereitstellung seiner Dienste. Sofern eine
    Einwilligung zur Speicherung von Cookies und vergleichbaren
    Wiedererkennungstechnologien abgefragt wurde, erfolgt die Verarbeitung
    ausschließlich auf Grundlage dieser Einwilligung (Art. 6 Abs. 1 lit. a DSGVO
    und § 25 Abs. 1 TTDSG); die Einwilligung ist jederzeit widerrufbar.
  </p>

  <p>
    Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies
    informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von
    Cookies für bestimmte Fälle oder generell ausschließen sowie das
    automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei
    der Deaktivierung von Cookies kann die Funktionalität dieser Website
    eingeschränkt sein.
  </p>

  <p>
    Welche Cookies und Dienste auf dieser Website eingesetzt werden, können Sie
    dieser Datenschutzerklärung entnehmen.
  </p>

  <h5>Gravatar</h5>

  <p>
    Wir haben Gravatar auf dieser Website eingebunden. Anbieter ist die
    Automattic Inc., 60 29th Street #343, San Francisco, CA 94110, USA
    (nachfolgend Gravatar).
  </p>

  <p>
    Gravatar ist ein Tool, das es ermöglicht, persönliche Bilder (Avatare) für
    die Nutzer unserer Website bereitzustellen. Die Avatare dienen als visuelle
    Repräsentationen der Nutzer und werden überall dort angezeigt, wo ein Nutzer
    mit der Plattform interagiert (z. B. in Foren oder Chats). Wenn ein Nutzer
    mit der Plattform interagiert, wird sein Avatar basierend auf der mit seiner
    E-Mail-Adresse verknüpften Auswahl angezeigt. Dies verleiht der
    Online-Präsenz der Nutzer eine persönliche Note und erleichtert die
    Identifizierung, da das gewählte Bild den Nutzern zugeordnet wird, wenn sie
    online aktiv sind.
  </p>

  <p>
    Wenn Sie auf unserer Website kommentieren bzw. interagieren und dabei
    Gravatar aktiviert ist, wird der Hash der E-Mail-Adresse des Nutzers, der
    Gravatar nutzt (wird als ID genutzt) von Gravatar verarbeitet.
  </p>

  <p>
    Die Verwendung von Gravatar erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f
    DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an einer
    ansprechenden Darstellung seiner Foren. Sofern eine entsprechende
    Einwilligung abgefragt wurde, erfolgt die Verarbeitung ausschließlich auf
    Grundlage von Art. 6 Abs. 1 lit. a DSGVO und § 25 Abs. 1 TTDSG. Die
    Einwilligung ist jederzeit widerrufbar.
  </p>

  <p>
    Weitere Details entnehmen Sie der Datenschutzerklärung des Anbieters
    unter&nbsp;<a href="https://automattic.com/privacy/" target="_blank"
      >https://automattic.com/privacy/</a
    >.
  </p>

  <p>
    Das Unternehmen verfügt über eine Zertifizierung nach dem „EU-US Data
    Privacy Framework“ (DPF). Der DPF ist ein Übereinkommen zwischen der
    Europäischen Union und den USA, der die Einhaltung europäischer
    Datenschutzstandards bei Datenverarbeitungen in den USA gewährleisten soll.
    Jedes nach dem DPF zertifizierte Unternehmen verpflichtet sich, diese
    Datenschutzstandards einzuhalten. Weitere Informationen hierzu erhalten Sie
    vom Anbieter unter folgendem Link:
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >https://www.dataprivacyframework.gov/</a
    >
  </p>

  <p>
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >s/participant-search/participant-
      detail?contact=true&amp;id=a2zt0000000CbqcA</a
    >
  </p>

  <p>
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >AC&amp;status=Active</a
    >
  </p>

  <h4>5. Soziale Medien</h4>

  <h5>Facebook</h5>

  <p>
    Auf dieser Website sind Elemente des sozialen Netzwerks Facebook integriert.
    Anbieter dieses Dienstes ist die Meta Platforms Ireland Limited, 4 Grand
    Canal Square, Dublin 2, Irland. Die erfassten Daten werden nach Aussage von
    Facebook jedoch auch in die USA und in andere Drittländer übertragen.
  </p>

  <p>
    Eine Übersicht über die Facebook Social-Media-Elemente finden Sie
    hier:&nbsp;<a
      href="https://developers.facebook.com/docs/plugins/?locale=de_DE"
      target="_blank"
      >https://developers.facebook.com/</a
    >
  </p>

  <p>
    <a
      href="https://developers.facebook.com/docs/plugins/?locale=de_DE"
      target="_blank"
      >docs/plugins/?locale=de_DE</a
    >.
  </p>

  <p>
    Wenn das Social-Media-Element aktiv ist, wird eine direkte Verbindung
    zwischen Ihrem Endgerät und dem Facebook-Server hergestellt. Facebook erhält
    dadurch die Information, dass Sie mit Ihrer IP-Adresse diese Website besucht
    haben. Wenn Sie den Facebook „Like-Button“ anklicken, während Sie in Ihrem
    Facebook- Account eingeloggt sind, können Sie die Inhalte dieser Website auf
    Ihrem Facebook-Profil verlinken.
  </p>

  <p>
    Dadurch kann Facebook den Besuch dieser Website Ihrem Benutzerkonto
    zuordnen. Wir weisen darauf hin, dass wir als Anbieter der Seiten keine
    Kenntnis vom Inhalt der übermittelten Daten sowie deren Nutzung durch
    Facebook erhalten. Weitere Informationen hierzu finden Sie in der
    Datenschutzerklärung von Facebook unter:
  </p>

  <p>
    <a href="https://de-de.facebook.com/privacy/explanation" target="_blank"
      >https://de-de.facebook.com/privacy/explanation</a
    >.<br />Die Nutzung dieses Dienstes erfolgt auf Grundlage Ihrer Einwilligung
    nach Art. 6 Abs. 1 lit. a DSGVO und §
  </p>

  <p>25 Abs. 1 TTDSG. Die Einwilligung ist jederzeit widerrufbar.</p>

  <p>
    Soweit mit Hilfe des hier beschriebenen Tools personenbezogene Daten auf
    unserer Website erfasst und an Facebook weitergeleitet werden, sind wir und
    die Meta Platforms Ireland Limited, 4 Grand Canal Square, Grand Canal
    Harbour, Dublin 2, Irland gemeinsam für diese Datenverarbeitung
    verantwortlich (Art. 26 DSGVO). Die gemeinsame Verantwortlichkeit beschränkt
    sich dabei ausschließlich auf die Erfassung der Daten und deren Weitergabe
    an Facebook. Die nach der Weiterleitung erfolgende Verarbeitung durch
    Facebook ist nicht Teil der gemeinsamen Verantwortung. Die uns gemeinsam
    obliegenden Verpflichtungen wurden in einer Vereinbarung über gemeinsame
    Verarbeitung festgehalten. Den Wortlaut der Vereinbarung finden Sie unter:
  </p>

  <p>
    <a href="https://www.facebook.com/legal/controller_addendum" target="_blank"
      >https://www.facebook.com/legal/</a
    >
  </p>

  <p>
    <a href="https://www.facebook.com/legal/controller_addendum" target="_blank"
      >controller_addendum</a
    >.
  </p>

  <p>
    Laut dieser Vereinbarung sind wir für die Erteilung der
    Datenschutzinformationen beim Einsatz des Facebook-Tools und für die
    datenschutzrechtlich sichere Implementierung des Tools auf unserer Website
    verantwortlich. Für die Datensicherheit der Facebook- Produkte ist Facebook
    verantwortlich. Betroffenenrechte (z. B. Auskunftsersuchen) hinsichtlich der
    bei Facebook verarbeiteten Daten können Sie direkt bei Facebook geltend
    machen. Wenn Sie die Betroffenenrechte bei uns geltend machen, sind wir
    verpflichtet, diese an Facebook weiterzuleiten.
  </p>

  <p>
    Die Datenübertragung in die USA wird auf die Standardvertragsklauseln der
    EU-Kommission gestützt. Details finden Sie hier:<br /><a
      href="https://www.facebook.com/legal/EU_data_transfer_addendum"
      target="_blank"
      >https://www.facebook.com/legal/</a
    >
  </p>

  <p>
    <a
      href="https://www.facebook.com/legal/EU_data_transfer_addendum"
      target="_blank"
      >EU_data_transfer_addendum</a
    >,
  </p>

  <p>
    <a href="https://de-de.facebook.com/help/566994660333381" target="_blank"
      >https://de-de.facebook.com/help/</a
    >
  </p>

  <p>
    <a href="https://de-de.facebook.com/help/566994660333381" target="_blank"
      >566994660333381</a
    >&nbsp;und
    <a href="https://www.facebook.com/policy.php" target="_blank"
      >https://www.facebook.com/</a
    >
  </p>

  <p>
    <a href="https://www.facebook.com/policy.php" target="_blank">policy.php</a
    >.
  </p>

  <p>
    Das Unternehmen verfügt über eine Zertifizierung nach dem „EU-US Data
    Privacy Framework“ (DPF). Der DPF ist ein Übereinkommen zwischen der
    Europäischen Union und den USA, der die Einhaltung europäischer
    Datenschutzstandards bei Datenverarbeitungen in den USA gewährleisten soll.
    Jedes nach dem DPF zertifizierte Unternehmen verpflichtet sich, diese
    Datenschutzstandards einzuhalten. Weitere Informationen hierzu erhalten Sie
    vom Anbieter unter folgendem Link:
  </p>

  <p>
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >https://www.dataprivacyframework.gov/</a
    >
  </p>

  <p>
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >s/participant-search/participant-
      detail?contact=true&amp;id=a2zt0000000CbqcA</a
    >
  </p>

  <p>
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >AC&amp;status=Active</a
    >
  </p>

  <h5>Instagram</h5>

  <p>
    Auf dieser Website sind Funktionen des Dienstes Instagram eingebunden. Diese
    Funktionen werden angeboten durch die Meta Platforms Ireland Limited, 4
    Grand Canal Square, Grand Canal Harbour, Dublin 2, Irland.
  </p>

  <p>
    Wenn das Social-Media-Element aktiv ist, wird eine direkte Verbindung
    zwischen Ihrem Endgerät und dem Instagram-Server hergestellt. Instagram
    erhält dadurch Informationen über den Besuch dieser Website durch Sie.
  </p>

  <p>
    Wenn Sie in Ihrem Instagram-Account eingeloggt sind, können Sie durch
    Anklicken des Instagram-Buttons die Inhalte dieser Website mit Ihrem
    Instagram-Profil verlinken. Dadurch kann Instagram den Besuch dieser Website
    Ihrem Benutzerkonto zuordnen. Wir weisen darauf hin, dass wir als Anbieter
    der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren
    Nutzung durch Instagram erhalten.
  </p>

  <p>
    Die Nutzung dieses Dienstes erfolgt auf Grundlage Ihrer Einwilligung nach
    Art. 6 Abs. 1 lit. a DSGVO und § 25 Abs. 1 TTDSG. Die Einwilligung ist
    jederzeit widerrufbar.
  </p>

  <p>
    Soweit mit Hilfe des hier beschriebenen Tools personenbezogene Daten auf
    unserer Website erfasst und an Facebook bzw. Instagram weitergeleitet
    werden, sind wir und die Meta Platforms Ireland Limited, 4 Grand Canal
    Square, Grand Canal Harbour, Dublin 2, Irland gemeinsam für diese
    Datenverarbeitung verantwortlich (Art. 26 DSGVO). Die gemeinsame
    Verantwortlichkeit beschränkt sich dabei ausschließlich auf die Erfassung
    der Daten und deren Weitergabe an Facebook bzw. Instagram. Die nach der
    Weiterleitung erfolgende Verarbeitung durch Facebook bzw. Instagram ist
    nicht Teil der gemeinsamen Verantwortung. Die uns gemeinsam obliegenden
    Verpflichtungen wurden in einer Vereinbarung über gemeinsame Verarbeitung
    festgehalten. Den Wortlaut der Vereinbarung finden Sie unter:
    <a href="https://www.facebook.com/legal/controller_addendum" target="_blank"
      >https://www.facebook.com/legal/</a
    >
  </p>

  <p>
    <a href="https://www.facebook.com/legal/controller_addendum" target="_blank"
      >controller_addendum</a
    >.
  </p>

  <p>
    Laut dieser Vereinbarung sind wir für die Erteilung der
    Datenschutzinformationen beim Einsatz des Facebook- bzw. Instagram-Tools und
    für die datenschutzrechtlich sichere Implementierung des Tools auf unserer
    Website verantwortlich. Für die Datensicherheit der Facebook bzw.
    Instagram-Produkte ist Facebook verantwortlich. Betroffenenrechte
  </p>

  <p>
    (z. B. Auskunftsersuchen) hinsichtlich der bei Facebook bzw. Instagram
    verarbeiteten Daten können Sie direkt bei Facebook geltend machen. Wenn Sie
    die Betroffenenrechte bei uns geltend machen, sind wir verpflichtet, diese
    an Facebook weiterzuleiten.
  </p>

  <p>
    Die Datenübertragung in die USA wird auf die Standardvertragsklauseln der
    EU-Kommission gestützt. Details finden Sie hier:<br /><a
      href="https://www.facebook.com/legal/EU_data_transfer_addendum"
      target="_blank"
      >https://www.facebook.com/legal/</a
    >
  </p>

  <p>
    <a
      href="https://www.facebook.com/legal/EU_data_transfer_addendum"
      target="_blank"
      >EU_data_transfer_addendum</a
    >,
  </p>

  <p>
    <a href="https://privacycenter.instagram.com/policy/" target="_blank"
      >https://privacycenter.instagram.com</a
    >/
  </p>

  <p>
    <a href="https://privacycenter.instagram.com/policy/" target="_blank"
      >policy/</a
    >&nbsp;und&nbsp;<a
      href="https://de-de.facebook.com/help/566994660333381"
      target="_blank"
      >https://de-de.facebook.com/help/</a
    >
  </p>

  <p>
    <a href="https://de-de.facebook.com/help/566994660333381" target="_blank"
      >566994660333381</a
    >.
  </p>

  <p>
    Weitere Informationen hierzu finden Sie in der Datenschutzerklärung von
    Instagram:&nbsp;<a
      href="https://privacycenter.instagram.com/policy/"
      target="_blank"
      >https://privacycenter.</a
    >
  </p>

  <p>
    <a href="https://privacycenter.instagram.com/policy/" target="_blank"
      >instagram.com/policy/</a
    >.
  </p>

  <p>
    Das Unternehmen verfügt über eine Zertifizierung nach dem „EU-US Data
    Privacy Framework“ (DPF). Der DPF ist ein Übereinkommen zwischen der
    Europäischen Union und den USA, der die Einhaltung europäischer
    Datenschutzstandards bei Datenverarbeitungen in den USA gewährleisten soll.
    Jedes nach dem DPF zertifizierte Unternehmen verpflichtet sich, diese
    Datenschutzstandards einzuhalten. Weitere Informationen hierzu erhalten Sie
    vom Anbieter unter folgendem Link:
  </p>

  <p>
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >https://www.dataprivacyframework.gov/</a
    >
  </p>

  <p>
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >s/participant-search/participant-
      detail?contact=true&amp;id=a2zt0000000CbqcA</a
    >
  </p>

  <p>
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >AC&amp;status=Active</a
    >
  </p>

  <h4>6. Analyse-Tools und Werbung (WP Statistics)</h4>

  <p>
    Diese Website nutzt das Analysetool WP Statistics, um Besucherzugriffe
    statistisch auszuwerten. Anbieter ist Veronalabs, Tatari 64, 10134, Tallinn,
    Estland (<a href="https://veronalabs.com" target="_blank"
      >https://veronalabs.com</a
    >).
  </p>

  <p>
    Mit WP Statistics können wir die Nutzung unserer Website analysieren. WP
    Statistics erfasst dabei u. a. Logdateien (IP-Adresse, Referrer, verwendete
    Browser, Herkunft des Nutzers, verwendete Suchmaschine) und Aktionen, die
    die Websitebesucher auf der Seite getätigt haben (z. B. Klicks und
    Ansichten).
  </p>

  <p>
    Die mit WP Statistics erfassten Daten werden ausschließlich auf unserem
    eigenen Server gespeichert.
  </p>

  <p>
    Die Nutzung dieses Analyse-Tools erfolgt auf Grundlage von Art. 6 Abs. 1
    lit. f DSGVO. Wir haben ein berechtigtes Interesse an der anonymisierten
    Analyse des Nutzerverhaltens, um sowohl unser Webangebot als auch unsere
    Werbung zu optimieren. Sofern eine entsprechende Einwilligung abgefragt
    wurde, erfolgt die Verarbeitung ausschließlich auf Grundlage von Art. 6 Abs.
    1 lit. a DSGVO und § 25 Abs. 1 TTDSG, soweit die Einwilligung die
    Speicherung von Cookies oder den Zugriff auf Informationen im Endgerät des
    Nutzers (z. B. Device-Fingerprinting) im Sinne des TTDSG umfasst. Die
    Einwilligung ist jederzeit widerrufbar.
  </p>

  <h5>IP-Anonymisierung</h5>

  <p>
    Wir verwenden WP Statistics mit anonymisierter IP. Ihre IP-Adresse wird
    dabei gekürzt, sodass diese Ihnen nicht mehr direkt zugeordnet werden kann.
  </p>

  <h5>7. Newsletter&nbsp;Newsletterdaten</h5>

  <p>
    Wenn Sie den auf der Website angebotenen Newsletter beziehen möchten,
    benötigen wir von Ihnen eine E- Mail-Adresse sowie Informationen, welche uns
    die Überprüfung gestatten, dass Sie der Inhaber der angegebenen
    E-Mail-Adresse sind und mit dem Empfang des Newsletters einverstanden sind.
    Weitere Daten werden nicht bzw. nur auf freiwilliger Basis erhoben. Diese
    Daten verwenden wir ausschließlich für den Versand der angeforderten
    Informationen und geben diese nicht an Dritte weiter.
  </p>

  <p>
    Die Verarbeitung der in das Newsletteranmeldeformular eingegebenen Daten
    erfolgt ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit.
    a DSGVO). Die erteilte Einwilligung zur Speicherung der Daten, der
    E-Mail-Adresse sowie deren Nutzung zum Versand des Newsletters können Sie
    jederzeit widerrufen, etwa über den „Austragen“-Link im Newsletter. Die
    Rechtmäßigkeit der bereits erfolgten Datenverarbeitungsvorgänge bleibt vom
    Widerruf unberührt.
  </p>

  <p>
    Die von Ihnen zum Zwecke des Newsletter-Bezugs bei uns hinterlegten Daten
    werden von uns bis zu Ihrer Austragung aus dem Newsletter bei uns bzw. dem
    Newsletterdiensteanbieter gespeichert und nach der Abbestellung des
    Newsletters oder nach Zweckfortfall aus der Newsletterverteilerliste
    gelöscht. Wir behalten uns vor, E-Mail-Adressen aus unserem
    Newsletterverteiler nach eigenem Ermessen im Rahmen unseres berechtigten
    Interesses nach Art. 6 Abs. 1 lit. f DSGVO zu löschen oder zu sperren.
  </p>

  <p>
    Daten, die zu anderen Zwecken bei uns gespeichert wurden, bleiben hiervon
    unberührt.
  </p>

  <p>
    Nach Ihrer Austragung aus der Newsletterverteilerliste wird Ihre
    E-Mail-Adresse bei uns bzw. dem Newsletterdiensteanbieter ggf. in einer
    Blacklist gespeichert, sofern dies zur Verhinderung künftiger Mailings
    erforderlich ist. Die Daten aus der Blacklist werden nur für diesen Zweck
    verwendet und nicht mit anderen Daten zusammengeführt. Dies dient sowohl
    Ihrem Interesse als auch unserem Interesse an der Einhaltung der
    gesetzlichen Vorgaben beim Versand von Newslettern (berechtigtes Interesse
    im Sinne des Art. 6 Abs. 1 lit. f DSGVO). Die Speicherung in der Blacklist
    ist zeitlich nicht befristet. Sie können der Speicherung widersprechen,
    sofern Ihre Interessen unser berechtigtes Interesse überwiegen.
  </p>

  <h4>8. Plugins und Tools&nbsp;Google Maps</h4>

  <p>
    Diese Seite nutzt den Kartendienst Google Maps. Anbieter ist die Google
    Ireland Limited („Google“), Gordon House, Barrow Street, Dublin 4, Irland.
  </p>

  <p>
    Zur Nutzung der Funktionen von Google Maps ist es notwendig, Ihre IP-Adresse
    zu speichern. Diese Informationen werden in der Regel an einen Server von
    Google in den USA übertragen und dort gespeichert. Der Anbieter dieser Seite
    hat keinen Einfluss auf diese Datenübertragung. Wenn Google Maps aktiviert
    ist, kann Google zum Zwecke der einheitlichen Darstellung der Schriftarten
    Google Fonts verwenden. Beim Aufruf von Google Maps lädt Ihr Browser die
    benötigten Web Fonts in ihren Browsercache, um Texte und Schriftarten
    korrekt anzuzeigen.
  </p>

  <p>
    Die Nutzung von Google Maps erfolgt im Interesse einer ansprechenden
    Darstellung unserer Online- Angebote und an einer leichten Auffindbarkeit
    der von uns auf der Website angegebenen Orte. Dies stellt ein berechtigtes
    Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar. Sofern eine
    entsprechende
  </p>

  <p>
    Einwilligung abgefragt wurde, erfolgt die Verarbeitung ausschließlich auf
    Grundlage von Art. 6 Abs. 1 lit. a DSGVO und § 25 Abs. 1 TTDSG, soweit die
    Einwilligung die Speicherung von Cookies oder den Zugriff auf Informationen
    im Endgerät des Nutzers (z. B. Device-Fingerprinting) im Sinne des TTDSG
    umfasst. Die Einwilligung ist jederzeit widerrufbar.
  </p>

  <p>
    Die Datenübertragung in die USA wird auf die Standardvertragsklauseln der
    EU-Kommission gestützt. Details finden Sie hier:<br /><a
      href="https://privacy.google.com/businesses/gdprcontrollerterms/"
      target="_blank"
      >https://privacy.google.com/businesses/</a
    >
  </p>

  <p>
    <a
      href="https://privacy.google.com/businesses/gdprcontrollerterms/"
      target="_blank"
      >gdprcontrollerterms/</a
    >&nbsp;und&nbsp;<a
      href="https://privacy.google.com/businesses/gdprcontrollerterms/sccs/"
      target="_blank"
      >https://privacy.</a
    >
  </p>

  <p>
    <a
      href="https://privacy.google.com/businesses/gdprcontrollerterms/sccs/"
      target="_blank"
      >google.com/businesses/</a
    >
  </p>

  <p>
    <a
      href="https://privacy.google.com/businesses/gdprcontrollerterms/sccs/"
      target="_blank"
      >gdprcontrollerterms/sccs/</a
    >.
  </p>

  <p>
    Mehr Informationen zum Umgang mit Nutzerdaten finden Sie in der
    Datenschutzerklärung von Google:&nbsp;<a
      href="https://policies.google.com/privacy?hl=de"
      target="_blank"
      >https://policies.google.com/</a
    >
  </p>

  <p>
    <a href="https://policies.google.com/privacy?hl=de" target="_blank"
      >privacy?hl=de</a
    >.
  </p>

  <p>
    Das Unternehmen verfügt über eine Zertifizierung nach dem „EU-US Data
    Privacy Framework“ (DPF). Der DPF ist ein Übereinkommen zwischen der
    Europäischen Union und den USA, der die Einhaltung europäischer
    Datenschutzstandards bei Datenverarbeitungen in den USA gewährleisten soll.
    Jedes nach dem DPF zertifizierte Unternehmen verpflichtet sich, diese
    Datenschutzstandards einzuhalten. Weitere Informationen hierzu erhalten Sie
    vom Anbieter unter folgendem Link:&nbsp;
  </p>

  <p>
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >https://www.dataprivacyframework.gov/</a
    >
  </p>

  <p>
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >s/participant-search/participant-
      detail?contact=true&amp;id=a2zt0000000CbqcA</a
    >
  </p>

  <p>
    <a
      href="https://www.dataprivacyframework.gov/s/participant-search/participant- detail?contact=true&amp;id=a2zt0000000CbqcAAC&amp;status=Active"
      >AC&amp;status=Active</a
    >
  </p>

  <p>Ende "Datenschutzerklärung für Websitenutzer"</p>

  <h3 id="mitglieder-verein">
    Datenschutzerklärung für Mitglieder der Schwimmgemeinschaft Barnstorf e. V.
  </h3>

  <hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" />

  <h4>Informationen nach Artikel 13 und 14 der Datenschutz-Grundverordnung</h4>

  <p>
    Die Schwimmgemeinschaft Barnstorf e. V. „nachstehend Verein genannt“
    verarbeitet die personenbezogenen Daten der Mitglieder in gesetzlich
    geregelten Verfahren. Personenbezogene Daten sind beispielsweise Angaben zur
    Person, aber auch zur Teilnahme an Veranstaltungen, die mit jedem Mitglied
    in Verbindung stehen. Bei der Erhebung, Speicherung, Übermittlung und
    sonstigen Datenverarbeitungen genügt der Verein höchsten Anforderungen an
    die Sicherheit der Mitgliedsdaten.&nbsp;
  </p>

  <p>Mit den folgenden Hinweisen möchte der Verein alle darüber informieren,</p>

  <ul>
    <li>
      an wen man sich zur Geltendmachung eigener Rechte oder bei Fragen zum
      Datenschutz wenden kann,
    </li>
    <li>
      auf welcher Grundlage der Verein personenbezogene Daten verarbeitet,
    </li>
    <li>wie der Verein mit den personenbezogenen Daten umgeht und</li>
    <li>
      welche Rechte nach dem Datenschutzrecht gegenüber dem Verein bestehen.
    </li>
  </ul>

  <p>
    Die in diesen Hinweisen bezeichneten Gesetze können alle im Internet in der
    jeweils geltenden Fassung abrufen unter:
  </p>

  <ul>
    <li>
      <a href="https://www.gesetze-im-internet.de" target="_blank"
        >https://www.gesetze-im-internet.de</a
      >
      (Bundesrecht),
    </li>

    <li>
      <a href="https://www.nds-voris.de" target="_blank"
        >https://www.nds-voris.de</a
      >
      (Landesrecht Niedersachsen) und
    </li>

    <li>
      <a href="https://eur-lex.europa.eu" target="_blank"
        >https://eur-lex.europa.eu</a
      >
      (Recht der Europäischen Union).
    </li>
  </ul>

  <h3>
    1. Wer ist für die Datenverarbeitung verantwortlich und an wen kann man sich
    wenden?
  </h3>

  <p>
    Verantwortlich für die Datenverarbeitung ist die Schwimmgemeinschaft
    Barnstorf e. V., Hermannstrasse 5, 49406 Barnstorf, E-Mail:
    <a href="mailto:info@sgbarnstorf.de" target="_blank">info@sgbarnstorf.de</a
    >.<br />Gegenüber dem verantwortlichen Verein können Mitglieder bzw. deren
    Vertreter Rechte geltend machen.
  </p>

  <h3>
    2. Welche personenbezogenen Daten verarbeiten wir und aus welcher Quelle
    stammen diese?
  </h3>

  <p>
    Der Verein verarbeitet nur personenbezogenen Daten, die von den Mitgliedern
    bzw. deren gesetzlichen Vertretern mitgeteilt werden, z.B.:
  </p>

  <ul>
    <li>Name, Vorname (einschließlich der gesetzlichen Vertreter)</li>
    <li>Anschrift</li>
    <li>Geburtsdatum</li>
    <li>Staatsangehörigkeit</li>
    <li>Kontaktdaten (E-Mail, Telefon- und Faxnummer usw.)</li>
    <li>Bankverbindungen</li>
    <li>
      Wettkampfdaten (Geburtsjahr, Zeiten, Orte, Teilnahmen, Wettkampfergebnis,
      Mannschaft)
    </li>
    <li>Krankheitsdaten (z.B. bei Allergien, Nahrungsunverträglichkeiten)</li>
    <li>
      IT-Nutzungsdaten (z.B. Vereins-ID, Verbindungdaten, Log-Daten, Kennungen)
    </li>
  </ul>

  <h3>
    3. Zu welchen Zwecken verarbeitet der Verein die Daten und aufgrund welcher
    Rechtsgrundlage?
  </h3>

  <p>
    Der Verein verarbeitet die Daten zur Erfüllung des Vereinsauftrages. Die
    personenbezogenen Daten werden insbesondere in den Mitgliederlisten des
    Vereins und in der Bank-Datei „Geno-Verein-6“ zum Zwecke der Durchführung
    der Beitragseinzüge verarbeitet.<br />Sämtliche Daten werden im Einklang mit
    den Bestimmungen der Datenschutz-Grundverordnung (DSGVO) und des
    Bundesdatenschutzgesetzes (BDSG) verarbeitet.
  </p>

  <p>
    Rechtsgrundlage der Datenverarbeitung sind Artikel 6 Absatz 1 Buchstabe c
    und e DSGVO, § 3 BDSG.<br />Besondere Kategorien personenbezogener Daten
    (wie zum Beispiel Gesundheitsdaten) werden von uns auf der Grundlage von
    Artikel 9 Absatz 2 Buchstabe f DSGVO verarbeitet, aber nur, soweit dies im
    Rahmen der vereinsrechtlichen Tätigkeit erforderlich ist.<br />Zu anderen
    als den genannten Zwecken werden Ihre personenbezogenen Daten nur
    weiterverarbeitet, wenn es dafür eine gesetzliche Grundlage gibt (z.B.
    Weitergabe an KSB, LSN, DSV).
  </p>

  <h3>4. Wer bekommt Ihre Daten (Empfängerinnen und Empfänger)?</h3>

  <p>
    Der Verein legt personenbezogenen Daten nur auf der Grundlage gesetzlicher
    Vorschriften oder aufgrund Vorschriften der übergeordneten Verbände –soweit
    die Mitgliedschaft des Vereins dort besteht- offen oder, wenn die Mitglieder
    bzw. deren gesetzlichen Vertreter die Einwilligung (Art. 6 Absatz 1 Satz 1
    Buchstabe a i.V.m. Art. 7 DSGVO) erteilt haben.
  </p>

  <h3>
    5. Es werden keine Daten in ein Drittland oder an eine internationale
    Organisation übermittelt!
  </h3>

  <h3>6. Wie lange werden Ihre Daten aufbewahrt?</h3>

  <p>
    Nach schriftlichem Austritt eines Mitgliedes bzw. durch dessen gesetzlichen
    Vertreter, werden die Daten zum 31.12. des Jahres aus den Vereinslisten und
    der Bankliste gelöscht.
  </p>

  <h3>7. Welche Datenschutzrechte haben Sie?</h3>

  <p>
    Um personenbezogenen Daten wirksam zu schützen, gewährt das Datenschutzrecht
    eine Reihe von Rechten, die Mitglieder gegenüber dem Verein geltend machen
    können:
  </p>

  <h3>Recht auf Auskunft:</h3>

  <p>
    Es besteht das Recht, Auskunft darüber zu verlangen, ob der Verein
    personenbezogene Daten verarbeitet. Ist dies der Fall, hat jedes Mitglied
    Anspruch auf weitere Informationen (z.B. Verarbeitungszwecke, Herkunft,
    Empfänger, Dauer der Datenspeicherung etc.).
  </p>

  <h3>Recht auf Berichtigung:</h3>

  <p>
    Bei Unrichtigkeit bzw. Unvollständigkeit der personenbezogenen Daten hat das
    Mitglied das Recht, die Berichtigung bzw. Vervollständigung zu verlangen.
  </p>

  <h3>Recht auf Löschung:</h3>

  <p>
    Jedes Mitglied kann die Löschung seiner Daten verlangen, insbesondere dann,
    wenn diese zu dem Zweck, zu dem sie ursprünglich erhoben oder verarbeitet
    wurden, nicht mehr erforderlich sind oder Sie die dazu erteilte Einwilligung
    widerrufen haben.
  </p>

  <h3>Recht auf Einschränkung der Verarbeitung:</h3>

  <p>
    In bestimmten Fällen haben die Mitglieder die Möglichkeit, die Einschränkung
    der Verarbeitung zu verlangen.&nbsp;
  </p>

  <h3>Widerruf der Einwilligung:</h3>

  <p>
    Haben die Mitglieder bzw. deren gesetzlichen Vertreter eine Einwilligung zur
    Verarbeitung der sie betreffenden personenbezogenen Daten gegeben, können
    die Mitglieder die Einwilligung jederzeit widerrufen. Der Widerruf wirkt
    dabei erst für die Zukunft. Verarbeitungen, die vor dem Widerruf erfolgt
    sind, sind davon nicht betroffen.
  </p>

  <h3>8. Recht auf Widerspruch gemäß Artikel 21 DSGVO</h3>

  <p>
    Die Mitglieder haben grundsätzlich ein allgemeines Widerspruchsrecht gegen
    eine an sich rechtmäßige Verarbeitung der personenbezogenen Daten. Sobald
    ein Widerspruch eingelegt wird, darf der Verein die Daten nicht mehr
    verarbeiten, es sei denn, es liegen zwingende schutzwürdige Gründe vor.<br />Der
    Widerspruch ist an die unter Ziffer 1. benannte verantwortliche Stelle zu
    richten.
  </p>

  <h3>9. Recht auf Beschwerde bei einer Aufsichtsbehörde</h3>

  <p>
    An folgende Adresse kann bei Bedarf eine Beschwerde eines Mitgliedes bzw.
    dessen gesetzlichen Vertreters eingereicht werden:Die Landesbeauftragte für
    den Datenschutz Niedersachsen<br />Prinzenstraße 5<br />30159 Hannover<br />Telefon:
    0511-120-4500<br />Fax: 0511-120-4599
  </p>

  <p>
    Ende "Datenschutzerklärung für Mitglieder der Schwimmgemeinschaft Barnstorf
    e. V."
  </p>

  <h1>Bildnachweise</h1>

  <p>
    Alle Bilder, die auf dieser Website und weiteren Diensten und Webseiten der
    SG Barnstorf (siehe <a href="/impressum">Impressum</a>) verwendet werden,
    stehen unter dem Copyright der
    <a href="https://sgbarnstorf.de">Schwimmgemeinschaft Barnstorf e.V</a>,
    sofern auf dieser Seite kein anderer Rechteinhaber genannt wird. Eine
    Übersicht mit allen Bildern und den Rechteinhabern finden die auf dieser
    Seite. Die Übersicht erhebt keinen Anspruch auf Vollständigkeit.
  </p>

  <p>
    Wenn Sie Rechteinhaber sind, und uns kontaktieren wollen, nutzen Sie bitte
    folgende E-Mail-Adresse: webmaster(at)sgbarnstorf.de
  </p>
</div>
