---
layout: base.njk
---

<h2>Trainingszeiten</h2>

<div class="container">
  <div class="row">
    {% for gruppe in training.zeiten %}
      <div class="col-6 col-12-small">
        <section class="box">
          <header>
            <h3>{{ gruppe.name }}</h3>
          </header>
          <ul class="style2">
            {% for termin in gruppe.termine %}
              <li><strong>{{ termin.tag }}:</strong> {{ termin.zeit }}</li>
            {% endfor %}
          </ul>
        </section>
      </div>
    {% endfor %}
  </div>
</div>
