---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
layout: base.njk
eleventyComputed:
  heading: "News zum Thema: {{ tag }}"
permalink: /tags/{{ tag | slugify }}/
---

<div class="columns is-multiline">
  {% set taglist = collections[ tag ] %}
  {% for post in taglist | reverse %}
    <div class="column is-4-desktop is-12-tablet is-flex">
      <div class="card is-flex is-flex-direction-column" style="width: 100%;">
        <div class="card-image">
          <a href="{{ post.url }}">
            <figure class="image is-3by2">
              <img
                src="{{ post.data.preview | default(post.data.image) | default('/images/news/placeholder.png') }}"
                alt="{{ post.data.heading }}"
                style="object-fit: cover;"
              />
            </figure>
          </a>
        </div>
        <div class="card-content is-flex-grow-1">
          <div class="content">
            <p class="title is-5 mb-2">{{ post.data.heading }}</p>
            <div
              class="is-flex is-justify-content-space-between is-align-items-center mb-4"
            >
              <p class="subtitle is-7 mb-0">
                {{ post.data.date | dateFilter }}
              </p>
              <div class="tags">
                {% for tag in post.data.tags %}
                  <a
                    href="/tags/{{ tag | slugify }}/"
                    class="tag is-primary is-light is-small"
                    ><span class="icon is-small mr-1"
                      ><i class="fas fa-tag"></i></span
                    >{{ tag }}</a
                  >
                {% endfor %}
              </div>
            </div>
            {{ post.data.excerpt }}
          </div>
        </div>
        <footer class="card-footer">
          <a href="{{ post.url }}" class="card-footer-item">Mehr lesen</a>
        </footer>
      </div>
    </div>
  {% endfor %}
</div>

<div class="mt-6">
  <a href="/news" class="button is-light">
    <span class="icon"><i class="fas fa-arrow-left"></i></span>
    <span>Zurück zur News-Übersicht</span>
  </a>
</div>
